.floating-action-button {
    border-radius: 8px;
    position: relative;

    .button-container {
        border-radius: 8px;
        cursor: pointer;
        padding: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .floatingButton {
        display: flex;
        justify-content: center;
        align-items: center;
        object-fit: contain;
    }

    .menu-item-container {

    }

    .menu-item-container.left {
        z-index: 1000;
        position: absolute;
        right: 0;
        animation: fadeInLeft 0.5s forwards;
    }

    .menu-item-container.right {
        position: absolute;
        // z-index: 1000;
        left: 0;
        animation: fadeInRight 0.5s forwards;
    }

    .menu-item-container.center {
        position: absolute;
        left: 50%;
        animation: fadeIn 0.5s forwards;
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translate(-20px, 12px);
    }
    to {
        opacity: 1;
        transform: translate(0, 12px);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate(20px, 12px);
    }
    to {
        opacity: 1;
        transform: translate(0, 12px);
    }

}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%,-12px);
    }
    to {
        opacity: 1;
        transform: translate(-50%, 12px);
    }
}
