.pagination-container {
    width: 100%;

    .pagination {
        display: flex;
        align-items: center;

        .pagination__prev {
            display: flex;
            justify-content: center;
            align-items: center;

            cursor: pointer;
            height: 30px;
            width: 30px;

            margin-right: 8px;

            border-radius: 8px;

            &:hover {
                background-color: var(--bg-hover-color);
            }
            &:active {
                background-color: var(--bg-active-color);
            }
        }

        .pagination__pages {
            display: flex;

            .pagination__page {
                display: flex;
                justify-content: center;
                align-items: center;

                width: 30px;
                height: 30px;

                margin-right: 8px;

                border: 1px solid transparent;
                cursor: pointer;


                border-radius: 8px;

                &:hover {
                    background-color: var(--bg-hover-color);
                }
                &:active {
                    background-color: var(--bg-active-color);
                }
            }
        }

        .pagination__next {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            height: 30px;
            width: 30px;

            border-radius: 8px;

            &:hover {
                background-color: var(--bg-hover-color);
            }
            &:active {
                background-color: var(--bg-active-color);
            }
        }
    }
}
