.floating-action-button {
    border-radius: 8px;
    position: relative;

    .button-container {
        color: rgb(255, 255, 255);
        border-radius: 8px;
        cursor: pointer;
    }

    .floatingButton {
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        object-fit: contain;
    }

    .menu-item-container.left {
        position: absolute;
        z-index: 1000;
        transform: translateY(12px);
        right: 0;
    }

    .menu-item-container.right {
        position: absolute;
        z-index: 1000;
        transform: translateY(12px);
        left: 0;
    }

    .menu-item-container.center {
        position: absolute;
        z-index: 1000;
        left: 50%;
        transform: translate(-50%, 12px), ;
    }
}
