.wordset-layout-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    
    .top-bar {

        .top-bar-header {
            width: 100%;
        }

        .top-bar-query {
            width: 100%;
        }
    }

    .word-sets-container {
        margin-top: 48px;
        flex: 1;
        display: flex;
        flex-direction: column;
    }
}