.title-component {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    .iconContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .title {
        text-align: start;
        /* Color & Background */
    }
}



