.select-container {
    display: inline-block;
    padding: 8px 8px;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    position: relative;

    .select {
        display: flex;
        align-items: center;
        justify-content: space-between;


    }

    .options {
        position: absolute;
        
        z-index: 1;
        border-radius: 8px;
        border-width: 1px;
        border-style: solid;
        background-color: var(--bg-hover-color);
        border-color: var(--border-color);
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease-in-out;
        padding: 4px;
        

        &.top {
            
            bottom: 100%;
            margin-bottom: 6px;
            left: 0;
            right: 0;

            animation: showDropdownUp 0.3s ease-in-out;
        }
        &.bottom {
            top: 100%;
            margin-top: 6px;
            left: 0;
            right: 0;

            animation: showDropdownDown 0.3s ease-in-out;
        }

        .option {
            padding: 8px 8px;
            border-radius: 8px;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            &:hover {
                background-color: var(--bg-hover-color);
            }

            &.selected {
                background-color: var(--primary-color-light);
            }
        }
    }
}


@keyframes showDropdownDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes showDropdownUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}