.card-container {
    transition: box-shadow 0.25s;
    border-radius: 8px;
    box-shadow: 0 0 0 0 var(--border-color);
    
    &.hoverable {
       
    }
    &.hoverable:hover {
        box-shadow: 0 0 8px 0 var(--border-color);

        .card-body {
            transform: scale(0.98);
        }
    }

    .card-img {
        width: 100%;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        object-fit: cover;
    }
    .card-body {
        transition: all 0.25s;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
}