.input-container {
    display: flex;
    flex-direction: column;
    width: 100%;


    .input {
        font-weight: 600;
        line-height: 24px;
    
        background-color: var(--bg-active-color);
        color: var(--secondary-text-color);
    
        border: 1px solid transparent;
        margin: 0px;
        outline: none;
        border-radius: 8px;
    
        width: 100%;

        &::-ms-reveal {
            display: none;
        }
    }
    
    .input::placeholder {
        color: var(--secondary-text-color);
    }
    
    .input:focus {
        border-bottom-color: var(--border-color);    
        border-left-color: var(--border-color);
        border-right-color: var(--border-color);
        border-top-color: var(--border-color);
    }



    /* The switch - the box around the slider */
.switch {
    font-size: 10px;
    position: relative;
    display: inline-block;
    width: 36px;
    height: 22px;

   }
   
   /* Hide default HTML checkbox */
   .switch input {
    opacity: 1;
    width: 0;
    height: 0;
   }
   
   /* The slider */
   .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    background: #fff;
    transition: .4s;
    border-radius: 30px;
    border: 1px solid #ccc;
   }
   
   .slider:before {
    position: absolute;
    content: "";
    height: 1.9em;
    width: 1.9em;
    border-radius: 16px;
    left: 1.2px;
    top: 0;
    bottom: 0;
    background-color: white;
    box-shadow: 0 2px 5px #999999;
    transition: .4s;
   }
   
   input:checked + .slider {
    background-color: #5fdd54;
    border: 1px solid transparent;
   }
   
   input:checked + .slider:before {
    transform: translateX(1.5em);
   }
}



