.input-container {
    position: relative;

    .input-component {
        position: relative;
        height: 100%;

        .text-area {
            resize: none;
            display: flex;
            border: none;
            font-family: inherit; font-size: inherit;
            color: var(--secondary-text-color);
            outline: none;
            background: transparent;
            font-size: 1.4em;
            font-weight: 500;

            &::placeholder {
                color: var(--secondary-text-color);
            }

            &.bottom {
                padding: 8px 0px;
                border-bottom: 2px solid var(--border-color);
            }

            &.none {
                border: none;
            }

            &::placeholder {
                color: var(--secondary-text-color);
            }


        }
    
        .input {
            display: block;
            border: none;
            color: var(--secondary-text-color);
            height: 43px;
            
            background: transparent;
            font-size: 1.4em;
            font-weight: 500;

            &.bottom {
                padding: 8px 0px;
                border-bottom: 2px solid var(--border-color);
            }
            &.none {
                border: none;
            }
            &.all {
                padding: 16px 12px;
                border-radius: 8px;
                border: 2px solid var(--border-color);

                &:focus {
                    border-color: var(--bg-active-color);
                }
            }
    
            &:focus {
                outline: none;
            }
    
            &::placeholder {
                color: var(--secondary-text-color);
            }
        }

        &.slideCenter .input:not(.all):focus ~ .bar:before, &.slideCenter .input:not(.all):focus ~ .bar:after {
            width: 50%;
        }

        &.slideInLeft .input:not(.all):focus ~ .bar:before {
            width: 100%;
        }
    
        &.slideCenter .bar {
            position: relative;
            display: block;
    
            &:before,
            &:after {
                content: '';
                height: 2px;
                width: 0;
                bottom: 1px;
                position: absolute;
                background: var(--primary-color);
                transition: 0.2s ease all;
                -moz-transition: 0.2s ease all;
                -webkit-transition: 0.2s ease all;
            }
            &:before {
                left: 50%;
            }
            &:after {
                right: 50%;
            }
        }
        

        &.slideInLeft .bar {
            position: relative;
            display: block;
    
            &:before {
                content: '';
                height: 2px;
                width: 0;
                bottom: 1px;
                position: absolute;
                background: var(--primary-color);
                transition: 0.2s ease all;
                -moz-transition: 0.2s ease all;
                -webkit-transition: 0.2s ease all;
            }
            &:before {
                left: 0%;
            }
        }

        

        &.slideCenter .text-area:not(.all):focus ~ .bar:before, &.slideCenter .text-area:not(.all):focus ~ .bar:after {
            width: 50%;
        }

        &.slideInLeft .text-area:not(.all):focus ~ .bar:before {
            width: 100%;
        }
    
        &.slideCenter .bar {
            position: relative;
            display: block;
    
            &:before,
            &:after {
                content: '';
                height: 2px;
                width: 0;
                bottom: 1px;
                position: absolute;
                background: var(--primary-color);
                transition: 0.2s ease all;
                -moz-transition: 0.2s ease all;
                -webkit-transition: 0.2s ease all;
            }
            &:before {
                left: 50%;
            }
            &:after {
                right: 50%;
            }
        }
        

        &.slideInLeft .bar {
            position: relative;
            display: block;
    
            &:before {
                content: '';
                height: 2px;
                width: 0;
                bottom: 1px;
                position: absolute;
                background: var(--primary-color);
                transition: 0.2s ease all;
                -moz-transition: 0.2s ease all;
                -webkit-transition: 0.2s ease all;
            }
            &:before {
                left: 0%;
            }
        }
    
        
    }
    
    
    .label {
        position: absolute;
        bottom: -24px;
    }
}