.folder-layout-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;


    .top-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        padding-bottom: 8;

        .command-bar {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            width: 100%;

            border-bottom: 1px solid var(--border-color);
        }
    }

    .folders-container {
        margin-top: 48px;
        overflow-y: auto;
        overflow-x: hidden;
        height: 100%;


        .folder-card:not(:last-child) {
            margin-bottom: 16px;
        }

        
    }
    .footer-container {
        margin-bottom: 32px;
    }

   
}