.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.label {
    font-size: 1.4em;
    font-style: normal;
	font-variant: normal;
	font-weight: 600;
	letter-spacing: normal;
	line-height: 20px;
    text-decoration: none solid rgb(88, f99, 128);
	text-align: left;

    /* Color & Background */
	background-attachment: scroll;
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(88, 99, 128);

    margin-bottom: 8px;
}

.input {
    font-size: 1.6em;
	font-weight: 600;
	letter-spacing: normal;
	line-height: 24px;

    background-color: rgb(246, 247, 251);
	color: rgba(88, 99, 128, 1);

    border: 1px solid transparent;
    margin: 0px;
    outline: none;
	padding: 16px 16px;

    border-radius: 8px;

    width: 100%;
}

.input::placeholder {
    color: rgba(88, 99, 128, 0.5);
}

.input:focus {
    border-bottom-color: black;    
}