.container {
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 600px;
    width: 80%;
}

.tab-link-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}