.tab-link {
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 800;
	letter-spacing: normal;
	line-height: 32px;
	text-decoration: none solid rgb(46, 56, 86);
	text-align: left;
	text-indent: 0px;
	text-transform: none;
	vertical-align: baseline;
	white-space: normal;
	word-spacing: 0px;

	color: rgb(88, 99, 128);

	cursor: pointer;
}

.tab-link.active {
	color: var(--primary-color);
}