.card-container {
    transition: box-shadow 0.25s;
    border-radius: 8px;
    box-shadow: 0 0 0 0 var(--border-color);
    border: 1px solid var(--border-color);
    
    &.hoverable {
       
    }
    &.hoverable:hover {
        box-shadow: 0 0 16px 0 var(--border-color);
    }

    .card-img {
        width: 100%;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        object-fit: cover;
    }
    .card-body {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
}