.word-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    // border: 2px solid var(--border-color);
    background-color: var(--bg-color);
    border-radius: 8px;

    &:focus-within  {
    }

    .word-card-header {
        transition: background-color 0.3s;
        padding: 8px 16px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom: 4px solid var(--bg-hover-color);
        // background-color: var(--bg-hover-color);

        .word-card-header-index {

        }

        .word-card-header-icon-command-delete {

            &:hover {
                color: var(--red-color)
            }
        }
    }

    .word-card-content {
        width: 100%;
        padding: 16px 24px;
    }

    .word-card-footer {

        .word-card-footer-delete {
            color: var(--secondary-text-color);
            &:hover {
                color: var(--red-color)
            }
        }
    }
}